*{
  /*To remove the default margin and padding for HTML elements*/
  margin:0;
  padding:0;
}
html,body{
  height: 100%;
  overflow: hidden;
}
.background-pic{
  background-image: url("fillerpic2.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
}
.dropdown{
  position: relative;
  bottom: 70%;
  text-align: center;
}
